#header {
    background-image: url(../IMG/header.jpg);
    background-size: cover;
    align-content: center;
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

#header-padre {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 50% 50%;

    height: 100vh;
    align-items: center;
}

#text-header {
    grid-area: a;
    margin-left: 5%;
}

#img-header {
    grid-area: b;
    background-image: url(../IMG/00.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 160px;
    margin: 0 auto;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #1cd1b6;
    margin-left: 10px;
    margin-top: 0;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 120%;
}


#galeria {
    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e f";
    height: 150vh;
    margin: auto 10%;
    overflow: hidden;
}

.Big-draw {
    background-image: url(../IMG/miniatura-BG.gif);
    background-size: cover;
    background-position: center center;
    grid-area: a;
}

.Avatar {
    background-image: url(../IMG/avatar-miniatura.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: b;
}

.botiga-JSON {
    background-image: url(../IMG/BotigaJSON.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: c;
}

.Conquest {
    background-image: url(../IMG/conquest.webp);
    background-size: cover;
    background-position: center center;
    grid-area: d;
}

.newsletter-tgn {
    background-image: url(../IMG/newsletter.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: e;
}

.MOOD {
    background-image: url(../IMG/properament.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: f;
}

.caption {
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    padding: 15%;
    text-decoration: none;
}

.container:hover .caption {
    opacity: 1;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 120%;
    margin-left: 10px;
}

footer {
    padding: 2%;
    text-align: center;
    align-items: center;
    background-color: black;
}

h4 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 85%;
    margin: 0;
}

a {
    text-decoration: none;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #galeria {
        margin: 0;

    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    #header-padre {
        grid-template-areas: "b"
            "a";
        height: 150vh;
    }

    #img-header {
        grid-area: b;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 160px;
        margin: 0;
        color: white;
    }

    #galeria {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
        margin: 0;

    }

}
